/*background image*/
#demo{
    text-align: center;
    background-image: url('bali-weather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.col-6{
    padding: 10px;
    display: flex;
    justify-content: center;
}
/*displaying table*/
th, tr, td {
    border-collapse: collapse;
   padding: 05px!important;
    border: 2px solid black;
}
th{
    background-color: cornflowerblue;
    text-align: center;
    margin: 10px;
    padding: 10px!important;
}
tr,td cityName{
    background-color:rgb(124, 207, 233);
    margin: 10px;
    padding: 10px!important;
}
.result{
    color:black;
    font-size: 25px;
    padding: 20px;
}
tr:nth-child(even){background-color: #f2f2f2}
h3{
    color: blue;
    border: 2px solid rgb(12, 12, 12);
    background-color: rgb(215, 228, 159);
}
.box{
    opacity: .9; 
}
.box1{
    opacity: .9;
}
input{
    width: 175px;
}
/*animating globe image*/
#globe{
    width: 170px;
    -webkit-animation: mymove 8s infinite ease-in-out;
    position: relative;
}
@-webkit-keyframes mymove {
0% {
    -webkit-transform: rotateY(0deg);
}
100% {
    -webkit-transform: rotateY(360deg);
}
}
#image{
position: absolute;
left: 45px;
top: 45px;
}
#image img{
width: 40px;
height: 40px;
}
.row {
    margin: 0 auto;
}

@media (min-width: 1281px) {
    .container-fluid {
        width: 100%;
    }
 
}
 @media (min-width: 1025px) and (max-width: 1280px) {
        .col-6 {
            width: 100%;
        }

    }
@media (min-width:768px) and (max-width: 1024px)  {
    .col-6 {
        width: 100%;
    }
    h3{
        font-size: 50%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .col-6{
        width: 80%;
    }
    h3{
       font-size: 2rem;
    }
}
@media  (max-width: 575px) {
    .col-6 {
        width: 100%;
        padding: 10px;
        display: inherit;
    }
    h3{
        font-size: 20px;
    }
  
}
    


